*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(16, 16, 63);
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

#container {
    width: 80%;
    margin: 1rem auto;
    border: 1px solid black;
    text-align: center;
}

h1 {
    margin: 1rem auto 2rem auto;
}

label, input, button {
    display: block;
    margin: 1rem auto;
}

input {
    height: 2rem;
    text-align: center;
}

button {
    padding: 0.5rem;
    background-color: orange;
    font-weight: bold;
}

#checkout-till {
    width: 40%;
    margin: 0 auto;
    background-color: lightblue;
    border-radius: 1rem;
    padding: 1rem;
    
}

@media (max-width: 500px){
    #checkout-till {
        width: 80%;
    }
}

#price {
    width: 50%;
    margin: 0 auto 1rem auto;
    padding: 1rem;
    background: black;
}

#cash-in-drawer {
    width: 70%;
    margin: 0 auto;
    background: white;
    border-radius: 0.5rem;
    color: black;
}

